@mixin circle($width, $color) {
  width: $width;
  height: $width;
  -webkit-border-radius: $width/2;
  -moz-border-radius: $width/2;
  -o-border-radius: $width/2;
  -ms-border-radius: $width/2;
  border-radius: $width/2;
  background-color: $color;
}

@mixin triangle($width, $dir, $color) {
  width: 0;
  height: 0;
  display: block;
  @if $dir==up {
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-bottom: $width solid $color;
  }
  @else if $dir==down {
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-top: $width solid $color;
  }
  @else if $dir==left {
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
    border-right: $width solid $color;
  }
  @else if $dir==right {
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
    border-left: $width solid $color;
  }
}

%clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.hide {
  display: none!important; // for js
}
.show {
  display: block;
  opacity: 1;
  visibility: visible;
}
.hide-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  height: auto;
  padding-bottom: 0;
 /* transition: all .7s ease;*/
  transition: padding-bottom .3s ease;

  &.show-content {
    max-height: 1000px;
    overflow: visible;
    opacity: 1;
    height: auto;
    padding-bottom: 20px;
    /*transition: all .7s ease;*/
    transition: padding-bottom .3s ease;

  }
}
//responsive
@function rem($px) {
  @return $px / 16px+0rem;
}

// Media Queries
@mixin device {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 992px) {
    @content;
  }
}

// tablets
@mixin tablets {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin smallTablets {
  @media screen and (max-width: 600px) {
    @content;
  }
}

// phones sizes
@mixin phones {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin smallPhone {
  @media screen and (max-width: 320px) {
    @content;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-10%);
    max-height: 0;
    height: auto;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    max-height: 1000px;
    height: auto;
  }
}
.fadeInDown {
  animation: fadeInDown 500ms ease;
}
@keyframes fadeInUp {
  0% {
    opacity: 1;
    transform: translateY(0);
    max-height: 1000px;
    height: auto;
  }
  100% {
    opacity: 0;
    transform: translateY(-10%);
    max-height: 0;
    height: auto;
  }
}
.fadeInUp {
  animation: fadeInUp 400ms ease;
}
/*************************/
.slideShow {
  animation: slideShow 500ms ease;
}
.slideHide {
  animation: slideHide 400ms ease;
}
@keyframes slideHide {
  0% {
    opacity: 1;
    max-height: 1000px;
    height: auto;
  }
  100% {
    height: auto;
    opacity: 0;
    max-height: 0;
  }
}

@keyframes slideShow {
  0% {
    height: auto;
    max-height: 0;
    opacity: 0;
  }
  100% {
    height: auto;
    opacity: 1;
    max-height: 1000px;
  }
}