.page-404.block--bg-dark
    .container
        .header-nav-wrap
            .header-nav--left
                .header-logo
                    a(href="#" title='На главную').logo__img
                        //img.logo__img(src="/assets/img/logo-desktop.svg")

        .section__content
            h1 Извините, страница <br> не найдена!
            a(href="#" title='Подключить').btn.btn--bg-blue На главную