section.advantage.block--bg-dark
    .container
        h2.section__title
            | Преимущества PayTech
        .section__content
            ul.advantage-list
                li.advantage-item
                    img.advantage-item__img(src="/assets/img/rocket.svg")
                    .advantage-item__text
                        h3.advantage-item__title
                            | Простое и быстрое <br>подключение платежей
                        p.advantage-item__discription
                            | Для сайта, мобильного приложения, в мессенджере и соцсетях

                li.advantage-item
                    img.advantage-item__img(src="/assets/img/joystick.svg")
                    .advantage-item__text
                        h3.advantagek-item__title
                            | Гибкое управление <br>оплатами
                        p.advantage-item__discription
                            | Резервируйте суммы платежа, распределяйте выплаты на разные счета

                li.advantage-item
                    img.advantage-item__img(src="/assets/img/star.svg")
                    .advantage-item__text
                        h3.advantage-item__title
                            | White-label решения
                        p.advantage-item__discription
                            | Брендированный платежный интерфейс повысит уровень доверия клиентов

                li.advantage-item
                    img.advantage-item__img(src="/assets/img/bank.svg")
                    .advantage-item__text
                        h3.advantage-item__title
                            | Продажи в кредит
                        p.advantage-item__discription
                            | Вы получаете всю сумму сразу, а покупатель берет кредит у вашего партнера

                li.advantage-item
                    img.advantage-item__img(src="/assets/img/balloon.svg")
                    .advantage-item__text
                        h3.advantage-item__title
                            | Запуск без сайта
                        p.advantage-item__discription
                            | Создавайте счета в личном кабинете и сразу отправляйте клиентам ссылку на оплату
                li.advantage-item
                    img.advantage-item__img(src="/assets/img/chat.svg")
                    .advantage-item__text
                        h3.advantage-item__title
                            | Личный аккаунт-менеджер
                        p.advantage-item__discription
                            | Вам поможет с подключением в любом мессенджере, по почте или телефону

            a(href="#" title='Подключить').btn.btn--bg-blue
                | Подключить
