.container
    .bread-crumbs-wrap.block--bg-dark
        ul.bread-crumbs.bread-crumbs__list
            each value in ['Главная', 'Юридическая информация']
                li
                    a(href= "#")= value