.container.cookies-wrap
    .cookies-container
        a(href="#").btn-close
        .cookies__text
            | Наш сайт использует файлы cookies, дополнительная информация на странице
            |
            a(href="#").link.link--grey политика конфиденциальности
        a(href="#").btn.btn--bg-blue Ok