.container
    .cookies-wrap
        .cookies-container
            a.btn-close
            .cookies__text
                | Наш сайт использует файлы cookies, дополнительная информация на странице политика конфиденциальности
            .btn-ok