footer.footer.block--bg-dark
    .container
        .section__content
            .footer-items
                .footer-logo.footer-item
                    a(href="#" alt='На главную' title='На главную')
                        img.logo__img(src="/assets/img/logo-desktop.svg")
                .footer-contact.footer-item
                    p sales@paytech.com
                    p + 38 (098) 155 86 98
                    p Киев, ул. Александра Довженко, 18
                hr.footer-hr
                .footer-about.footer-item
                    p ТОВ ПЕЙТЕК УКРАЇНА
                    p Код ЕГРПОУ: 44103264
                    p
                        a.link.link--white(href="#")
                            | Юридическая информация
            .footer-btn-top
                a.btn.btn-go-top(href="#")
            .copyright
                | &copy; 2021 PayTech