.container
    .header-nav-wrap
        .header-nav--left
            .header-logo
                a(href="#" title='На главную')
                    img.logo__img(src="/assets/img/logo-desktop.svg")
            nav.menu-top
                ul.menu-top__list
                    each value, index in {'Как работает' : 'howitwork', 'Преимущества' : 'advantages', 'Возможности' : 'opportunities', 'Этапы подключения' : 'connection stages', 'FAQ' : 'faq'}
                        li
                            a(href= "#" + value)= index
        .header-nav--right
            ul.change-lang
                li.target
                    a(href="#") RU
                        img(src="/assets/img/vector.svg")
                    ul.change-lang__sub-menu
                        li
                            a(href="#") UA
                        li
                            a(href="#") EN

            a(href="#" title='Подключить').btn.btn--bg-none Подключить
        a(href="#").toggle-menu
            span