.container
    .header-content-wrap
        .header-content
            .header-content__text.header-content--left
                h1 Международная система онлайн-платежей
                p Оставьте заявку и принимайте платежи для вашего <br>бизнеса уже через 3 дня
                    =' '
                    a.link.link--blue.link-more-show подробнее...
                .content-text__more.hide
                    p Оплата в один клик с любого устройства – желание современного покупателя. Мы специализируемся на удобных сервисах оплаты заказа для ваших клиентов.
                    p Быстрое онлайн-подключение платежной системы PayTech сэкономит ваши финансы и время.
                    p Сертификаты стандарта безопасности данных индустрии платежных карт PCI DSS подтверждают ваш надежный выбор.
                    a.link.link--blue.link-more-hide свернуть

                a.btn.btn--bg-blue Подключить
            .header-content__image.header-content--right
                img(src="/assets/img/ellipse-6.svg")
        .header-payments
            img(src="/assets/img/mastercard.svg")
            img(src="/assets/img/prostip.svg")
            img(src="/assets/img/Gpay.svg")
            img(src="/assets/img/privat24.svg")
            img(src="/assets/img/applepay.svg")
            img(src="/assets/img/visa.svg")