.header-content-wrap
    .header-content
        .header-content__text.header-content--left
            h1 Международная система онлайн-платежей
            p Оставьте заявку и принимайте платежи для вашего <br>бизнеса уже через 3 дня
                =' '
                a.link--blue(href="#") подробнее...
            a.btn.btn--bg-blue Подключить
        .header-content__image.header-content--right
            img(src="/assets/img/ellipse-6.svg")
    .header-payments
        img(src="/assets/img/mastercard.svg")
        img(src="/assets/img/prostip.svg")
        img(src="/assets/img/Gpay.svg")
        img(src="/assets/img/privat24.svg")
        img(src="/assets/img/applepay.svg")
        img(src="/assets/img/visa.svg")