section.howitwork.block--bg-light
    .container
        h2.section__title
            | Как работает сервис
        .section__content
            ul.howitwork-list
                li.howitwork-item
                    h3.howitwork-item__title Клиент выбирает <br>товар/услугу
                    img.howitwork-item__img(src="/assets/img/hiw-1.svg")
                li.howitwork-item
                    h3.howitwork-item__title Оплачивает <br>через PayTech
                    img.howitwork-item__img(src="/assets/img/hiw-2.svg")
                li.howitwork-item
                    h3.howitwork-item__title Данные проверяются
                    p.howitwork-item__discription #[span.text-color--blue PayTech] передает банку данные <br>для подтверждения операции
                    img.howitwork-item__img(src="/assets/img/hiw-3.svg")
                li.howitwork-item
                    h3.howitwork-item__title Вы получаете деньги
                    img.howitwork-item__img(src="/assets/img/hiw-4.svg")