section.howitwork.block--bg-light
    .container
        h2.section__title
            | Как работает сервис
        .section__content
            ul.howitwork-list
                li.howitwork-item
                    h3.howitwork-item__title Клиент выбирает товар/услугу
                    .howitwork-item__img
                li.howitwork-item
                    h3.howitwork-item__title Оплачивает через PayTech
                    .howitwork-item__img
                li.howitwork-item
                    h3.howitwork-item__title Данные проверяются
                    p.howitwork-item__discription #[span.text-color--blue PayTech] передает банку данные для подтверждения операции
                    .howitwork-item__img
                li.howitwork-item
                    h3.howitwork-item__title Вы получаете деньги
                    .howitwork-item__img