.page
    .page-wrap
        h3 1. Загальні положення
        p 1.1. У цій політиці «PayTech», «ми», «нас», «наш», «наші», «нашим», «нашими», «наших», «нашому», «нам», «нами» відносяться до компанії ТОВ «ПЕЙТЕК УКРАЇНА», юридичної особи, що зареєстрована в Україні та відповідно до законодавства України.
        p 1.2. Ваша конфіденційність дуже важлива для нас і тому ми відкриті у тому як ми збираємо, використовуємо та обмінюємося інформацією про вас.
        p 1.3. PayTech дозволяє відвідувачам свого сайту paytech.com.ua контролювати свої персональні дані. Дана політика конфіденційності надає інформацію про те, як PayTech обробляє і захищає такі дані.
        p 1.4. Ми ніколи не продаємо персональні дані.
        p 1.5. У контексті політики дотримання конфіденційності, персональні дані означають будь-яку інформацію, що стосується фізичної особи, яку ідентифіковано чи можна ідентифікувати; фізична особа, яку можна ідентифікувати, є такою особою, яку можна ідентифікувати, прямо чи опосередковано, зокрема, за такими ідентифікаторами як ім’я, ідентифікаційний номер, дані про місцезнаходження, онлайн-ідентифікатор або за одним чи декількома факторами, що є визначальними для фізичної, фізіологічної, генетичної, розумової, економічної, культурної чи соціальної сутності такої фізичної особи.
        p 1.6. PayTech несе відповідальність за законну обробку ваших даних на нашому сайті.
        p 1.7. Надаючи свої персональні дані PayTech, ви підтверджуєте, що вам не менше 18 років.
    .page-wrap
        h3 2. Відомості, які ми можемо збирати/запитувати
        p 2.1. Коли ви відвідуєте наш сайт, ми зберігаємо ім’я вашого додатку, ідентифікатора браузера, веб-сайту, з якого ви нас відвідали, частин нашого сайту, які ви відвідали, дати і тривалості вашого відвідування, вашу IP-адресу. Ми використовуємо вашу IP-адресу та/або країну, щоб приблизно визначити ваше місцезнаходження, з метою надання кращого сервісу.
        p 2.2. Ми обробляємо дані про використання, щоб полегшити вам доступ до наших послуг і забезпечити його зручне використання, поліпшити якість послуг і розробити нові, розпізнати і зупинити будь-яке зловживання. Ми також обробляємо дані про використання в анонімній формі для статистичних цілей і покращуємо наш сайт.
        p 2.3. Правовою основою для такої обробки є ваша згода і наші законні інтереси, такі як моніторинг і поліпшення нашого веб-сайту і послуг.