.page
    .page-wrap
        h3 О нас
        p Директор (одноосібний виконавчий орган, керівник): Сидор Богдан Анатолійович
        p Головний бухгалтер: Сидор Богдан Анатолійович.
        p Члени виконавчого органу не володіють акціями (частками у статутному капіталі) ТОВ «ПЕЙТЕК УКРАЇНА». Наглядова рада не створювалась.
        p Єдиний учасник (засновник): ЗАКРИТЕ АКЦІОНЕРНЕ ТОВАРИСТВО «АЛДЕГА», місцезнаходження: Литва, LT-09109,
            | місто Вільнюс, вулиця Карейвю, будинок 11В, пряме володіння часткою у статутному капіталі ТОВ «ПЕЙТЕК
            | УКРАЇНА» у розмірі 100%.
            | Учасниками ТОВ «ПЕЙТЕК УКРАЇНА» контролюються наступні юридичні особи:
        p Контролер (кінцевий бенефіціарний власник): Трофімовас Андреюс (Литва), опосередковане володіння через ЗАТ
            |«АЛДЕГА» істотною участю в ТОВ «ПЕЙТЕК УКРАЇНА» у розмірі 100%.
    .page-wrap
        h3 Реєстраційні документи
        ul.page__list
            li
                a(href="#").link.link--blue Виписка з ЄДР
            li
                a(href="#").link.link--blue Статут
            li
                a(href="#").link.link--blue Свідоцтво фінансової установи
            li
                a(href="#").link.link--blue Рішення Національного банку України про внесення до Державного реєстру фінансових установ наразі не отримано
            li
                a(href="#").link.link--blue Відомості про Товариство у Державний реєстр фінансових установ наразі не внесено
    .page-wrap
        h3 Річна фінансова та консолідована фінансова звітність
        ul.page__list
            li
                a(href="#").link.link--blue Фінансова звітність 2021
    .page-wrap
        h3 Додаткова інформація
        p Рішення про ліквідацію ТОВ «ПЕЙТЕК УКРАЇНА» не приймалось.
        p Справа про банкрутство ТОВ «ПЕЙТЕК УКРАЇНА» не порушувалась, процедура санації ТОВ «ПЕЙТЕК УКРАЇНА» не застосовувалась.
        p ТОВ «ПЕЙТЕК УКРАЇНА» утворено не у формі акціонерного товариства, тому звіт про корпоративне управління не складався.
        p Відокремлені підрозділи ТОВ «ПЕЙТЕК УКРАЇНА» не створювались.
    .page-wrap
        h3 Перелік фінансових послуг
        p Предметом діяльності ТОВ «ПЕЙТЕК УКРАЇНА» є виключно:
        ul.page__list
            li переказ коштів у національній валюті без відкриття рахунків;
            li надання коштів у позику, в тому числі і на умовах фінансового кредиту.
        p Ціни/тарифи:
        ul.page__list
            li вартість, ціни/тарифи, розмір плати (проценти) щодо фінансових послуг залежно від виду фінансової послуги
                =' '
                a(href="#").link.link--blue за посиланням
    .page-wrap
        h3 Клієнтам
        p Механізми захисту прав споживачів та додаткова інформація до відома клієнтів
            =' '
            a(href="#").link.link--blue за посиланням
        p Правила надання фінансових послуг та примірні договори:
        ul.page__list
            li
                a(href="#").link.link--blue Правила надання коштів у позику, в т.ч. і на умовах фінансового кредиту
            li
                a(href="#").link.link--blue Примірний кредитний договір
    .page-wrap
        h3 Контакти
        p.title--sm График роботи:
        p Пн - Пт — 9:00 до 18:00
        p Перерва — 13:00 до 14:00
        p.title--sm Адреса:
        p 03057, м. Київ, вул. Довженка Олександра, 18
        p.title--sm Телефон:
        p +38 (098) 552-84-43
        p.title--sm Електронна пошта:
        a(href="#").link.link--blue info@paytech.com.ua