h3 О нас
p Директор (одноосібний виконавчий орган, керівник): Сидор Богдан Анатолійович
p Головний бухгалтер: Сидор Богдан Анатолійович.
p Члени виконавчого органу не володіють акціями (частками у статутному капіталі) ТОВ «ПЕЙТЕК УКРАЇНА». Наглядова рада не створювалась.
p Єдиний учасник (засновник): ЗАКРИТЕ АКЦІОНЕРНЕ ТОВАРИСТВО «АЛДЕГА», місцезнаходження: Литва, LT-09109,
    | місто Вільнюс, вулиця Карейвю, будинок 11В, пряме володіння часткою у статутному капіталі ТОВ «ПЕЙТЕК
    | УКРАЇНА» у розмірі 100%.
    | Учасниками ТОВ «ПЕЙТЕК УКРАЇНА» контролюються наступні юридичні особи:
p Контролер (кінцевий бенефіціарний власник): Трофімовас Андреюс (Литва), опосередковане володіння через ЗАТ
    |«АЛДЕГА» істотною участю в ТОВ «ПЕЙТЕК УКРАЇНА» у розмірі 100%.
h3 Реєстраційні документи
ul
    li
        a(href="#").link--blue Виписка з ЄДР
    li
        a(href="#").link--blue Статут
    li
        a(href="#").link--blue Свідоцтво фінансової установи
    li
        a(href="#").link--blue Рішення Національного банку України про внесення до Державного реєстру фінансових установ наразі не отримано
    li
        a(href="#").link--blue Відомості про Товариство у Державний реєстр фінансових установ наразі не внесено
h3 Річна фінансова та консолідована фінансова звітність
ul
    li
        a(href="#").link--blue Фінансова звітність 2021