section.opportunity
    .container
        h2.section__title
            | Возможности
        .section__content
            ul.opportunity-list
                li.opportunity-item.link_show-content
                    h3.opportunity-item__title
                        | Оплата на сайте
                    p.opportunity-item__discription
                        | при продажах с помощью лендинга или многостраничного сайта
                li.opportunity-item.link_show-content
                    h3.opportunity-item__title
                        | Оплата в приложении
                    p.opportunity-item__discription.hide-content
                        | позволяет в два клика совершать покупки и увеличивать объемы онлайн-платежей для бизнеса

                li.opportunity-item.link_show-content
                    h3.opportunity-item__title
                        | Оплата в мессенджерах
                    p.opportunity-item__discription.hide-content
                        | экономит ваши финансы и время покупателя благодаря простой встроенной системе
                li.opportunity-item.link_show-content
                    h3.opportunity-item__title
                        | P2P переводы
                    p.opportunity-item__discription.hide-content
                        | с использованием реквизитов банковских карт для выплат сотрудникам или покупателям

                li.opportunity-item.link_show-content
                    h3.opportunity-item__title
                        | Инвойсы
                    p.opportunity-item__discription.hide-content
                        | отправляются покупателям в мессенджер или на e-mail для быстрой оплаты заказов
                li.opportunity-item.link_show-content
                    h3.opportunity-item__title
                        | Выплаты для МФО
                    p.opportunity-item__discription.hide-content
                        | для онлайн-кредитования и получения дополнительной информации
                        | о клиентах
                li.opportunity-item.link_show-content
                    h3.opportunity-item__title
                        | Регулярные списания
                    p.opportunity-item__discription.hide-content
                        | с автоматической оплатой заданной суммы и в установленный период
                li.opportunity-item.link_show-content
                    h3.opportunity-item__title
                        | Оплата в один клик
                    p.opportunity-item__discription.hide-content
                        | для удобных покупок без повторного ввода данных банковской карты
                li.opportunity-item.link_show-content
                    h3.opportunity-item__title
                        | Сплит-платежи
                    p.opportunity-item__discription.hide-content
                        | для приема оплат на один счет, а распределения выплат на разные