section.partners.block--bg-dark
    .container
        h2.section__title
            | Партнеры
        .section__content
            ul.partners-list
                li.partners-item
                    img.partners-item__img(src="/assets/img/partner-logo-1.svg")
                li.partners-item
                    img.partners-item__img(src="/assets/img/partner-logo-2.svg")
                li.partners-item
                    img.partners-item__img(src="/assets/img/partner-logo-3.svg")
                li.partners-item
                    img.partners-item__img(src="/assets/img/partner-logo-4.svg")
                li.partners-item
                    img.partners-item__img(src="/assets/img/partner-logo-1.svg")
                li.partners-item
                    img.partners-item__img(src="/assets/img/partner-logo-2.svg")