section.site-reque
    .container
        h2
            | Требования к сайту
        p.sub-title
            | Для успешного подключения ваш сайт должен выполнять следующие требования международных платежных систем:
        ol.ol--blue
            li Сайт работает без ошибок. Является удобным для пользователей и отображает всю необходимую информацию для совершения покупки: условия оплаты, доставки, возврата товара или денежных средств.
            li Предоставляемые услуги и товары описаны полностью и не нарушают законов страны, в которой они продаются.
            li Указана вся информация о компании:
                ul.page__list
                    li юридическое название
                    li регистрационные данные
                    li договор публичной оферты
                    li контактные телефон и e-mail
            li Защищены данные клиента с помощью соглашения на их обработку и политики конфиденциальности.
            li В футере вашего сайта размещены логотипы платежных систем VISA и Mastercard, если вы принимаете онлайн-оплату картами этих МПС.
                p
                    img(src="/assets/img/visa-color.svg")
                    a(href="#").link.link--blue скачать
                p
                    img(src="/assets/img/mastercard-color.svg")
                    a(href="#").link.link--blue скачать
        .border-left--blue
            p Данные рекомендации являются общими.
            p Свяжитесь, пожалуйста, с нашим менеджером, чтобы узнать дополнительную информацию для вашего бизнеса.