section.steps.block--bg-dark
    .container
        h2.section__title
            | Этапы подключения PayTech
        .section__content
            ul.steps-list
                li.steps-item
                    p.steps-item__title 01
                    p.steps-item__discription Заполняете анкету для проверки готовности вашего сайта
                        = ' '
                        a.link.link--blue(href="#") Требования к сайту
                li.steps-item
                   p.steps-item__title 02
                    p.steps-item__discription Наши специалисты регистрируют вас в системе
                li.steps-item
                    p.steps-item__title 03
                    p.steps-item__discription Мы подписываем договор онлайн и обмениваемся документами
                li.steps-item
                    p.steps-item__title 04
                    p.steps-item__discription Активируем прием платежей и тестируем платежный сервис (в течение дня)
            .btn.btn__content.btn-wrap--center
                | Подключить
