section.tabs
    .tabs-header.block--bg-dark
        .container
            h2
                |Юридическая информация
            ul.tabs-menu.tabs-menu__list
                li(data-tabs='tab-one').tabs-menu__item.is-active Публичный договор
                li(data-tabs='tab-two').tabs-menu__item Политика конфиденциальности
                li(data-tabs='tab-three').tabs-menu__item Правовая информация
    .tabs-content.block--bg-light
        .container
            .tabs-content-wrap
                .tabs-content__item#tab-one.is-active
                    | текст 1
                .tabs-content__item#tab-two
                    include ../common/_legal-privacypolicy-part
                .tabs-content__item#tab-three
                    include ../common/_legal-info-part
script
    include G:/666/Builder/source/js/tabs.js n