.top-content.top-content__wrap.block--bg-dark
    .container
        .top-content__container
            .top-content__text.top-content__left
                h1 Международная система онлайн-платежей
                p Оставьте заявку и принимайте платежи для вашего <br>бизнеса уже через 3 дня
                    =' '
                    a.link--blue(href="#") подробнее...
                a.btn.btn__content.btn__content__wrap Подключить
            .top-content__image.top-content__right
                img(src="/assets/img/ellipse-6.svg")
        .top-content__logo
                img(src="/assets/img/mastercard.svg")
                img(src="/assets/img/prostip.svg")
                img(src="/assets/img/Gpay.svg")
                img(src="/assets/img/privat24.svg")
                img(src="/assets/img/applepay.svg")
                img(src="/assets/img/visa.svg")