html, body {
  margin: 0;
  padding: 0;
  font-family: $geom;
  position: relative;
  height: 100%;
}

*, *::before, *::after { 
  box-sizing: border-box; 
}
* {
  margin: 0;
  padding: 0;
}
p {
  margin: 0 0 10px 0;
  line-height: 1.5em;
}
section {
  padding: 100px 0;
  @include tablets {
    padding: 50px 0;
  }
}
.visuallyhidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.block--bg-dark {
  background-color: $dark-grey;
  color: $white;
}
.block--bg-light {
  background-color: $white;
  color: $dark-grey;
}
.block--bg-light-blue {
  background-color: $light-blue;
  color: $dark-grey;
}

.link {
  font-size: inherit;
  font-weight: 400;
  color: $blue;
  text-decoration: none;
  line-height: 1.2em;
  background:  no-repeat 0 100%;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 100% 1px;
  background-position-x: 50%;
  transition: all .3s;
  &:hover, &:focus {
    color: $white;
    background-size: 0 1px;
  }
  &--blue {
    color: $blue;
    &:hover, &:focus {
      color: $blue;
    }
  }
  &--grey {
    color: $grey;
    &:hover, &:focus {
      color: $grey;
    }
  }
  &--xs {
    font-size: 10px;
    font-weight: 200;
    line-height: 1.1em;
  }
  &--white {
    color: $white;
    font-weight: 500;
    font-size: 14px;
    &:hover, &:focus {
      color: $grey;
    }
  }
}

.text-color--blue {
  color: $blue;
}
//screen size xs-320, sm-576, md-768, lg-992, xl-1200, xxl-1400 and up
.container {
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  @include smallPhone {
    width: 100%;
  }
  @include tablets {
    width: 100%;
  }
  @include laptop {
    width: 100%;
    padding: 0 20px;
  }
  @include device {
    width: 100%;
  }
  @media only screen and (min-width: 1230px){
    width: 1200px;
  }
  &--sm {
    width: 770px;
    @include tablets {
      width: 100%;
    }
  }
  &--xs {
    width: 470px;
    @include phones {
      width: 100%;
    }
  }
}

h1 {
  font-size: 44px;
  line-height: 1.3em;
  margin-bottom: 30px;
  font-weight: 500;
  @include smallTablets {
    font-size: 30px;
  }
}
h2 {
  font-size: 36px;
  line-height: 1.3em;
  margin-bottom: 60px;
  font-weight: 500;
  @include tablets {
    font-size: 26px;
    margin-bottom: 30px;
  }
}
h3 {
  font-size: 20px;
  line-height: 1.4em;
  margin-bottom: 10px;
  font-weight: 500;
}
.sub-title {
  font-size: 20px;
  line-height: 1.4em;
  margin-bottom: 20px;
  font-weight: 500;
}
.page {
  &-wrap {
    margin-top: 40px;
  }
  &__list {
    list-style-type: none;
    li {
      display: block;
      align-items: center;
      margin-bottom: 15px;
      position: relative;
      padding-left: 15px;
      &:before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $light-grey;
        left: 0;
        top: 5px;
      }
    }
  }
  & h3 {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4em;
    font-weight: 500;
  }
  & p {
    margin-bottom: 10px;
    line-height: 1.5em;
  }
}
.title--sm {
  margin: 15px 0 5px 0;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 500;
}

ol.ol--blue {
  list-style-type: none;
  counter-reset: num;
  margin: 0 0 0 30px;
  padding: 15px 0 5px 0;

  &>li {
    position: relative;
    padding: 0 0 20px 0;
    line-height: 1.5em;
    &:before {
      content: counter(num) '.';
      counter-increment: num;
      display: inline-block;
      position: absolute;
      top: 0px;
      left: -30px;
      width: 30px;
      font-size: 20px;
      font-weight: 500;
      color: $blue;
      text-align: left;
    }
  }
}