@import '../config/_variables.scss';

.btn {
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease .3s;
  text-decoration: none;
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}
.btn--bg-blue{
  padding: 15px 0;
  color: $white;
  background-color: $blue;
  font-weight: 700;
  width: 280px;
  justify-content: center;
  border: none;
  &:hover, &:active, &:focus {
    box-shadow: 0 0 5px 5px rgba(75, 198, 246, 0.22);
    -webkit-box-shadow: 0 0 5px 5px rgba(75, 198, 246, 0.22);
    -moz-box-shadow: 0 0 5px 5px rgba(75, 198, 246, 0.22);
  }
}
.btn--bg-none {
  padding: 11px 30px;
  color: $blue;
  border: 1px solid $blue;
  font-weight: 500;
  &:hover, &:active, &:focus {
    color: $white;
    background-color: $blue;
  }
  @include device {
    display: none;
  }
}
.btn-go-top {
  width: 48px;
  height: 48px;
  background-image: url("/assets/img/btn-go-top.svg");
  background-size: contain;
  position: absolute;
  z-index: 99;
  bottom: 40px;
  right: 40px;
  @include tablets {
    right: 20px;
  }
}
.btn-close {
  display: flex;
  &:before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url("/assets/img/btn-close.svg");
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  &:hover {
    opacity: 0.8;
  }
}
.header-page--light {
  & .btn--bg-none {
    color: $white;
    background-color: $blue;
    border: none;
    &:hover, &:active, &:focus {
      box-shadow: 0 0 5px 5px rgba(75, 198, 246, 0.22);
      -webkit-box-shadow: 0 0 5px 5px rgba(75, 198, 246, 0.22);
      -moz-box-shadow: 0 0 5px 5px rgba(75, 198, 246, 0.22);
    }
  }
}