.footer {
  padding: 60px 0;
  & .section__content {
    position: relative;
  }
  @include tablets {
    padding: 50px 0 0 0;
  }
}
.footer-hr {
  display: none;
  margin: 20px 0;
  @include tablets {
    display: block;
  }
}
.footer-items {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 200px);
  font-size: 14px;
  line-height: 1.4em;
  font-weight: 500;
  margin-bottom: 30px;
  @include tablets {
    flex-direction: column;
    margin-bottom: 0;
  }
  @include laptop {
    width: calc(100% - 130px);
  }
}
.footer-item:first-child {
  margin-bottom: 20px;
}
.footer-item p:last-child {
  margin-bottom: 0;
}
.copyright {
  font-size: 12px;
  color: $grey;
  line-height: 1.4;
  padding: 30px 0;
}
.footer-btn-top {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
}
