@import 'config/_variables.scss';
.top-content {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 80px;
  &--left {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  &--right {
    display: flex;
    align-items: center;
    justify-content: end;
  }
}
.header-logo {
  display: flex;
  align-items: center;
}
.menu-top {
  margin-left: 40px;
  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    @include device {
      display: none;
    }
    @media only screen and (min-width: 1201px) {
      display: flex !important;
    }

    li {
      margin-left: 40px;

      &:first-child {
        margin-left: 0;
      }

      &.current-menu {
        a {
          color: $blue;
        }
      }

      a {
        text-decoration: none;
        display: inline-block;
        color: $white;
        font-size: 14px;
        font-weight: 400;
        transition: all .3s;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          bottom: -3px;
          left: 50%;
          transform: translateX(-50%);
          background-color: $blue;
          height: 1px;
          width: 0;
          transition: all .3s;
        }

        &:hover {
          color: $blue;

          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}
.change-lang {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
    background-color: $dark-grey;
    a {
      height: 100%;
      text-decoration: none;
      color: $white;
      font-size: 14px;
      font-weight: 400;
      transition: all .3s;
      padding: 7px 26px 10px 10px;
      line-height: 1.3em;
      &:hover {
        color: $blue;
      }
    }
    li {
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      top:0;
      left:0;
      &.target img {
        width: 7px;
        height: 10px;
        margin-left: 5px;
        transform: rotate(0deg);
        transition: all .3s;
      }
      &.target:hover {
        & img{
          transform: rotate(180deg);
        }
        & .change-lang__sub-menu {
          visibility: visible;
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
  }
.change-lang__sub-menu {
  position: absolute;
  left: 0;
  top:33px;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: .5s ease-in-out;
}