@import 'config/_variables.scss';
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom:100px;
  &-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 65px 0 60px 0;
  }
  &--right {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  &--left {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  &__image {
    display: flex;
    align-items: center;
    @include device {
      display: none;
    }
  }
  &__text {
    & .btn {
      margin-top: 40px;
    }
    @include device {
      background: url("/assets/img/ellipse.svg") no-repeat top right;
      background-size: contain;
    }
  }
}
.header-payments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include phones {
    & img {
      height: 15px;
    }
  }
}
.content-text__more {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  height: auto;
  transition: all .4s ease;
    &.slideShow {
      max-height: 1000px;
      overflow: visible;
      opacity: 1;
      height: auto;
      transition: all .4s ease;
  }
}