@import '../config/_variables.scss';
//toggle-menu

body.menu-mobile-wrap--show {
  overflow: hidden;
  & .close-outer {
    visibility: visible;
    opacity: 1;
  }
  & .menu-mobile-wrap {
    opacity: 1;
    visibility: visible;
  }
  & .menu-mobile-container {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    overflow: auto;
  }
}
.close-outer {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.43);
}

.menu-mobile-container {
  right: 0;
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition: transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: transform 500ms ease;
  -webkit-transform: translate(3000px, 0px);
  -ms-transform: translate(300px, 0px);
  transform: translate(300px, 0px);
  -o-transform: translate(300px, 0px);
  -webkit-backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  background-color: $white;
  padding: 20px;
  position: fixed;
  top:0;
  height: 100%;
  bottom: 0;
  z-index: 100;
}
.menu-mobile-wrap {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  z-index: 3;
  visibility: hidden;
}
.slide-right{
  animation: fadeInRight 300ms ease-in-out;
}
@keyframes fadeInRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
.slide-right{
  animation: fadeInRight 500ms ease-in-out;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 0;
    transform: translateX(0);
  }
}

.menu-mobile--top {
  display: flex;
  flex-direction: column;
  & .btn-close {
    align-self: flex-end;
    margin-bottom: 25px;
   }
}


.menu-mobile {
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    li {
      margin-top: 25px;

      &:first-child {
        margin-top: 0;
      }
      a {
        text-decoration: none;
        display: inline-block;
        color: $dark-grey;
        font-size: 16px;
        font-weight: 400;
        transition: all .3s;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          bottom: -3px;
          left: 50%;
          transform: translateX(-50%);
          background-color: $blue;
          height: 1px;
          width: 0;
          transition: all .3s;
        }

        &:hover {
          color: $blue;

          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}
.change-lang--mobile {
  display: flex;
  align-items: start;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin-top: 40px;
  li {
    display: flex;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    height: 100%;
    text-decoration: none;
    color: $dark-grey;
    font-size: 16px;
    font-weight: 500;
    transition: all .3s;
    padding: 5px;
    line-height: 1.3em;
    &:hover, &.active {
      color: $blue;
    }
  }
}

