.partners-list {
  display: flex;
  align-items: center;
  list-style: none;
  flex-wrap: nowrap;
  overflow: hidden;
}
.partners-item {
  display: flex;
  justify-content: center;
  width: 156px;
  height: 126px;
  border-radius: 22px;
  background-color: $white;
  margin-right: 60px;
  &__img {
    width: inherit;
    height: inherit;
    padding: 20px;
  }
  @include tablets {
    width: 112px;
    height: 90px;
    margin-right: 25px;
    &__img {
      padding: 10px;
    }
  }
}