
.top-content {
  &__wrap {
    display: flex;
    align-self: stretch;
    flex-direction: row;
    height: 100%;
    padding: 65px 0 60px 0;
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  &__left {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom:100px;
  }
  &__image {
    display: flex;
    align-items: center;
    @include device {
      display: none;
    }
  }
  &__text {
    @include device {
      background: url("/assets/img/ellipse.svg") no-repeat top right;
      background-size: contain;
    }
  }
  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include phones {
      & img {
        height: 15px;
      }
    }
  }
}

