extends ../_template

block variables
    - var title = 'Cookies'

block content
    include ../common/_header
    include ../common/_howitwork
    include ../common/_advantage
    include ../common/_opportunity
    include ../common/_steps
    include ../common/_faq
    include ../common/_partners
    include ../common/_feedback
    include ../common/_footer
    include ../common/_cookies