extends ../_template

block variables
    - var title = 'Требования к сайту'

block content
    include ../common/_header-page--light
    include ../common/_site-requirements
    include ../common/_footer